<div class="card">
  <div class="card-body d-flex text-center justify-content-center"
    style="min-height: 350px; user-select: none; flex-direction: column">

    <div *ngIf="chart.status.isEmpty; else NotEmpty" class="my-auto">
      Não existem dados para o filtro atual
    </div>
    <ng-template #NotEmpty>
      <div *ngIf="chart.status.hasErrors; else NotError" class="my-auto" style="color: red">
        Houve um erro ao obter os dados de
        <div class="text-lowercase">{{ chart.label }}</div>
        <!-- //TODO Adiciona um botão de tentar novamente -->
      </div>
      <ng-template #NotError>
        <div *ngIf="chart.status.fetching; else Sucess" class="my-auto" style="color: red">
          <div [hidden]="!chart.status.fetching">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Carregando...</span>
            </div>
          </div>
        </div>
        <ng-template #Sucess>
          <h5 class="card-title">{{ chart.label }}</h5>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th *ngFor="let col of chart.columns" scope="col">
                  {{ col }}
                </th>
              </tr>
            </thead>
          </table>
          <div style="width: 100%; overflow: auto; max-height: 300px">
            <table class="table table-sm">
              <tbody>
                <tr (click)="clickRow(i)" *ngFor="let data of chart.data; index as i" class="clickable">
                    <th scope="row">{{ i }}</th>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</div>