<div class="auth-wrapper d-flex flex-column no-block justify-content-center align-items-center bg-light">
  <div class="auth-box bg-light border-top border-secondary">
        <div id="confirmationform">
        
            <div class="text-center p-t-20 p-b-20" style="margin-top: 3em;">
                <h1>Confirme com o código</h1>
            </div>
            <!-- Form -->
            <div class="card" style="padding:3em;">
                
                <form class="form-horizontal m-t-20" [formGroup]="confirmationForm" id="form-confirmation">
                <div class="row p-b-0">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            
                            <input type="text" formControlName="code"
                                [ngClass]="{ 'is-invalid': submitted && controls.code.errors }"
                                class="form-control form-control-lg" placeholder="Código"
                                aria-label="Code" aria-describedby="basic-addon1" required="" id="codeInput" />
                            
                            <div *ngIf="submitted && controls.code.errors" class="invalid-feedback">
                                <div *ngIf="controls.code.errors.required">Código de confirmação é obrigatório para esta ação.</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-0 mb-3">{{error}}</div>
                
                <div class="col-12 flex-column register">
                    <button type="button" type="submit" class="btn btn-primary" 
                    (click)="onSubmit()">{{ loading ? 'Loading...' : 'Submit' }}</button>
                </div>

                </form>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="p-t-20">
                        <button [disabled]="loading" form="form-login" class="btn btn-light" 
                        (click)="back()">Voltar</button>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>
